{% extends 'base.html' %} {% block content %}
<header>
  <style>
    h1 {
      font-family: "Times New Roman", Times, serif;
      font-weight: bolder;
    }

    a {
      text-decoration: none;
    }
    a:hover {
      color: aliceblue;
    }
  </style>
</header>
<br />
<div class="row">
  <div class="card card-body">
    <h1 style="text-align: center">Books</h1>
    <div class="col-md-4">
      <div class="card card-body">
        <a
          class="btn btn-outline-info btn-sm btn-block"
          href="{% url 'register_book' %}"
          >Add Book</a
        >
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-body">
      <table class="table table-lg">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Category</th>
          <th>Price</th>
          <th></th>
        </tr>
        {% for i in books %}
        <tr>
          <td>{{i.title}}</td>
          <td>{{i.author}}</td>
          <td>{{i.category}}</td>
          <td>${{i.price}}</td>
          <td>
            <a class="btn btn-sm btn-info" href="{% url 'update_book' i.id %}"
              >update</a
            >
            <a class="btn btn-sm btn-danger" href="{% url 'delete_book' i.id %}"
              >delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}
