{% extends 'base.html' %}
{% block content %}
<header>
    <style>
        h1{
            font-family: 'Times New Roman', Times, serif;
            font-weight:bolder;
        }
        #lists{
            margin-left: 100px;
        }
        #lists .card-body{
            background-color: #7b876d;
        }
        #lists .table-sm tr{
            color: aliceblue;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            color: aliceblue;
        }
    </style>
</header>
<br>
<div class="row" id="lists">
    <div class="col-md-8">
        <div class="card card-body">
            <h1 style="text-align: center;">Books</h1>
            <button class="btn btn-primary"><a href="{% url 'register_book' %}">Add Book</a></button>
        </div>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                {% for i in books %}
                <tr>
                   
                    <td>{{i.title}}</td>
                    <td>{{i.author}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.price}}$</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_book' i.id %}">update</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_book' i.id %}">delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}