{% extends 'base.html' %} {% block content %}
<!-- <p>are you sure you want to delete {{iteam}}?</p>
<form action="{% url 'delete_order' item.id %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'home' %}">cancle</a>
    <input type="submit" name="confirm">

</form> -->
<div class="container mt-5">
  <div class="card card-body">
    <p class="mb-3">Are you sure you want to delete <b>{{ item }}</b>?</p>
    <form action="{% url 'delete_order' item.id %}" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-between">
        <!-- Cancel Button -->
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        <!-- Confirm Button -->
        <input class="btn btn-danger" type="submit" value="Confirm" />
      </div>
    </form>
  </div>
</div>

{%endblock%}
