{% extends 'base.html' %} {% block content %}
<header>
  <style>
    h5 {
      font-family: "Times New Roman", Times, serif;
      font-weight: bolder;
    }
  </style>
</header>
<body>
  <br />
  {% include 'status.html' %}
  <div class="row" style="margin-left: 15px; margin-right: 15px">
    <div class="col-md-5">
      <br />
      <h5 style="margin-left: 180px">Customers</h5>
      <hr />
      <div class="card card-body">
        <table class="table table-lg">
          <tr>
            <th></th>
            <th>Customer</th>
            <th>Phone Number</th>
          </tr>
          {% for customer in customers%}
          <tr>
            <td>
              <a
                class="btn btn-sm btn-info"
                href="{% url 'customer' customer.id %}"
                >view</a
              >
            </td>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <br />
      <h5 style="margin-left: 300px">Orders</h5>
      <hr />

      <div class="card card-body mb-3">
        <table class="table table-lg">
          <tr>
            <th>book</th>
            <th>date ordered</th>
            <th>status</th>
            <th>update</th>
            <th>remove</th>
          </tr>
          {% for i in orders%}
          <tr>
            <td>{{i.book}}</td>
            <td>{{i.date_created}}</td>
            <td>{{i.status}}</td>
            <td>
              <a
                class="btn btn-sm btn-info"
                href="{% url 'update_order' i.id %}"
                >update</a
              >
            </td>
            <td>
              <a
                class="btn btn-sm btn-danger"
                href="{% url 'delete_order' i.id %}"
                >delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
