<header>
    <style>
        body{
            background-color:#d7dbd3;
        }
        .card{
            margin-left: 300px;
            margin-top: 150px;
            border: 1px solid burlywood;
            border-radius: 5px;
            padding: 20px;
            width: 50%;
            background-color: white;
        }
        .card h1{
            text-align: center;
        }
    </style>
</header>


<div class="card">
    <div class="card-body">
      <h1 class="card-title">password reset complete</h1>
      <p class="card-text">your password has been set go ahead and log in now.</p>
      <button class="btn btn-success"><a  href="{% url 'login' %}"  class="card-link">Login</a></button>
    </div>
</div>