<header>
    <style>
        body{
            background-color:#d7dbd3;
        }
        .card{
            margin-left: 300px;
            margin-top: 150px;
            border: 1px solid burlywood;
            border-radius: 5px;
            padding: 20px;
            width: 50%;
            background-color: white;
        }
        .card form{
            text-align: center;
        }
    </style>
</header>


<div class="card">
    <div class="card-body">
      <h1 class="card-title">enter new password</h1>
      <h3 class="card-subtitle mb-2 text-muted">enter your new password twice.</h3>
      <form method="POST">
        {%csrf_token%}
        {{form}}
        <input type="submit" name="update password">
      </form>
    </div>
  </div>