<header>
    <style>
        body{
            background-color:#d7dbd3;
        }
        .card{
            margin-left: 300px;
            margin-top: 150px;
            border: 1px solid burlywood;
            border-radius: 5px;
            padding: 20px;
            width: 50%;
            background-color: white;
        }
        .card h1{
            text-align: center;
        }
    </style>
</header>


<div class="card">
    <div class="card-body">
      <h1 class="card-title">password reset</h1>
      <p class="card-text">we have emailed your password, if an account exists with 
        the email you entered. you should receive them shortly.</p>
        <p class="card-text">if you dont recieve an email, please make sure you have entered the address 
            you registred with and checjk your spam folder
        </p>
    </div>
  </div>